/* -------------------------------------
    Widget search
------------------------------------- */
.widget-search {
  position: relative;
}
.widget-search input {
  height: 50px;
  margin-bottom: 0;
  padding-right: 50px;
}

.widget-search .search-button {
  position: absolute;
  top: auto;
  bottom: -0.2em;
  background: transparent none repeat scroll 0 0;
  color: #999;
  font-size: 20px;
  height: 100%;
  right: 0;
  transition: all 0.3s ease 0s;
  width: 50px;
}

.widget-search .search-button:hover {
  color: #ff7f00;
}

.widget-search .search-button i {
  font-size: 24px;
}

.widget-search .search-spinner {
  position: absolute;
  top: auto;
  right: 3em;
  bottom: 1.2em;
}

.widget-search .search-result {
  position: absolute;
  width: 100%;
  min-width: 300px;
  z-index: 20;
}

.widget-search .search-result .product-icon-small {
  width: 35px;
  height: 30px;
}

.zmdi-search:before {
  content: '\f1c3';
}

/*responsive*/
/* Large Screen  */
@media (min-width: 1170px) and (max-width: 1400px) {

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

  .widget-search {
    margin-top: 15px;
  }

}

/* small mobile :320px. */
@media (max-width: 767px) {

  .widget-search {
    margin-top: 15px;
  }

  .widget-search .search-result {
    min-width: unset;
  }
}

/*************************
  General
*************************/
button,
input {
  outline: medium none;
  color: #666666;
}
*::-moz-selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}
/***************************
  Transtion
****************************/
input {
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -ms-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

/*************************
  Input
*************************/
input[type="text"] {
  background: #fff none repeat scroll 0 0;
  border: 1px solid transparent;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  color: #999999;
  font-size: 13px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 20px;
  width: 100%;
}
button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}
input[type="text"]:focus {
  border: 1px solid #FFBF7F;
}
::-moz-placeholder {
  color: #444;
  font-size: 13px;
}

.mb-30 { margin-bottom: 30px }

.error {
  position: absolute;
  top: -2.0em;
  left: 0;
  padding: .2em 1em .1em;
  background-color: #f66;
  border: 1px solid #f00;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
}
.error::after,
.error::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 15px;
  border: solid transparent;
}
.error::after {
  margin-left: 1px;
  border-top-color: #f66;
  border-width: 7px;
}
.error::before {
  border-top-color: #f00;
  border-width: 8px;
}


