<p>
  product-form works!
</p>

<div class="col-md-4">
  <div class="sidebar">
    <div class="widget price text-center">
      <h4>Price</h4>
      <p>$230</p>
    </div>
    <!-- User Profile widget -->
    <div class="widget user">
      <img class="rounded-circle" src="assets/images/user/user-thumb.jpg" alt="">
      <h4><a href="">Jonathon Andrew</a></h4>
      <p class="member-time">Member Since Jun 27, 2017</p>
      <a href="">See all ads</a>
      <ul class="list-inline mt-20">
        <li class="list-inline-item"><a href="" class="btn btn-contact">Contact</a></li>
        <li class="list-inline-item"><a href="" class="btn btn-offer">Make an offer</a></li>
      </ul>
    </div>
    <!-- Map Widget -->
    <div class="widget map">
      <div class="map">
        <div id="map"></div>
      </div>
    </div>
    <!-- Rate Widget -->
    <div class="widget rate">
      <!-- Heading -->
      <h5 class="widget-header text-center">What would you rate
        <br>
        this product</h5>
      <!-- Rate -->
      <div class="starrr"></div>
    </div>
    <!-- Safety tips widget -->
    <div class="widget disclaimer">
      <h5 class="widget-header">Safety Tips</h5>
      <ul>
        <li>Meet seller at a public place</li>
        <li>Check the item before you buy</li>
        <li>Pay only after collecting the item</li>
        <li>Pay only after collecting the item</li>
      </ul>
    </div>
    <!-- Coupon Widget -->
    <div class="widget coupon text-center">
      <!-- Coupon description -->
      <p>Have a great product to post ? Share it with
        your fellow users.
      </p>
      <!-- Submii button -->
      <a href="" class="btn btn-transparent-white">Submit Listing</a>
    </div>

  </div>
</div>

<div id="carouselExampleIndicators" class="product-slider carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/products/products-1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/products/products-2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/products/products-3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row">
  <!-- imgs-zoom-area start -->
  <div class="col-md-5 col-sm-5 col-xs-12">
    <div class="imgs-zoom-area">
      <img id="zoom_03" src="img/product/6.jpg" data-zoom-image="img/product/6.jpg" alt="">
      <div class="row">
        <div class="col-xs-12">
          <div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30 slick-initialized slick-slider"><button type="button" class="arrow-prev slick-arrow" style=""><i class="zmdi zmdi-long-arrow-left"></i></button>
            <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 900px; transform: translate3d(-225px, 0px, 0px);" role="listbox"><div class="p-c slick-slide slick-cloned" style="width: 75px;" data-slick-index="-3" aria-hidden="true" tabindex="-1">
              <a href="#" data-image="img/product/5.jpg" data-zoom-image="img/product/5.jpg" tabindex="-1">
                <img class="zoom_03" src="img/product/5.jpg" alt="">
              </a>
            </div><div class="p-c slick-slide slick-cloned" style="width: 75px;" data-slick-index="-2" aria-hidden="true" tabindex="-1">
              <a href="#" data-image="img/product/6.jpg" data-zoom-image="img/product/6.jpg" tabindex="-1">
                <img class="zoom_03" src="img/product/6.jpg" alt="">
              </a>
            </div><div class="p-c slick-slide slick-cloned" style="width: 75px;" data-slick-index="-1" aria-hidden="true" tabindex="-1">
              <a href="#" data-image="img/product/7.jpg" data-zoom-image="img/product/7.jpg" tabindex="-1">
                <img class="zoom_03" src="img/product/7.jpg" alt="">
              </a>
            </div><div class="p-c slick-slide slick-current slick-active" style="width: 75px;" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10">
              <a href="#" data-image="img/product/2.jpg" data-zoom-image="img/product/2.jpg" tabindex="0">
                <img class="zoom_03" src="img/product/2.jpg" alt="">
              </a>
            </div><div class="p-c slick-slide slick-active" style="width: 75px;" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide11">
              <a href="#" data-image="img/product/3.jpg" data-zoom-image="img/product/3.jpg" tabindex="0">
                <img class="zoom_03" src="img/product/3.jpg" alt="">
              </a>
            </div><div class="p-c slick-slide slick-active" style="width: 75px;" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide12">
              <a href="#" data-image="img/product/4.jpg" data-zoom-image="img/product/4.jpg" tabindex="0">
                <img class="zoom_03" src="img/product/4.jpg" alt="">
              </a>
            </div><div class="p-c slick-slide" style="width: 75px;" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide13">
              <a href="#" data-image="img/product/5.jpg" data-zoom-image="img/product/5.jpg" tabindex="-1">
                <img class="zoom_03" src="img/product/5.jpg" alt="">
              </a>
            </div><div class="p-c slick-slide" style="width: 75px;" data-slick-index="4" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide14">
              <a href="#" data-image="img/product/6.jpg" data-zoom-image="img/product/6.jpg" tabindex="-1">
                <img class="zoom_03" src="img/product/6.jpg" alt="">
              </a>
            </div><div class="p-c slick-slide" style="width: 75px;" data-slick-index="5" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide15">
              <a href="#" data-image="img/product/7.jpg" data-zoom-image="img/product/7.jpg" tabindex="-1">
                <img class="zoom_03" src="img/product/7.jpg" alt="">
              </a>
            </div><div class="p-c slick-slide slick-cloned" style="width: 75px;" data-slick-index="6" aria-hidden="true" tabindex="-1">
              <a href="#" data-image="img/product/2.jpg" data-zoom-image="img/product/2.jpg" tabindex="-1">
                <img class="zoom_03" src="img/product/2.jpg" alt="">
              </a>
            </div><div class="p-c slick-slide slick-cloned" style="width: 75px;" data-slick-index="7" aria-hidden="true" tabindex="-1">
              <a href="#" data-image="img/product/3.jpg" data-zoom-image="img/product/3.jpg" tabindex="-1">
                <img class="zoom_03" src="img/product/3.jpg" alt="">
              </a>
            </div><div class="p-c slick-slide slick-cloned" style="width: 75px;" data-slick-index="8" aria-hidden="true" tabindex="-1">
              <a href="#" data-image="img/product/4.jpg" data-zoom-image="img/product/4.jpg" tabindex="-1">
                <img class="zoom_03" src="img/product/4.jpg" alt="">
              </a>
            </div></div></div><button type="button" class="arrow-next slick-arrow" style=""><i class="zmdi zmdi-long-arrow-right"></i></button></div>
        </div>
      </div>
    </div>
  </div>
  <!-- imgs-zoom-area end -->
  <!-- single-product-info start -->
  <div class="col-md-7 col-sm-7 col-xs-12">
    <div class="single-product-info">
      <h3 class="text-black-1">Dummy Product Name </h3>
      <h6 class="brand-name-2">brand name</h6>
      <!--  hr -->
      <hr>
      <!-- single-pro-color-rating -->
      <div class="single-pro-color-rating clearfix">
        <div class="sin-pro-color f-left">
          <p class="color-title f-left">Color</p>
          <div class="widget-color f-left">
            <ul>
              <li class="color-1"><a href="#"></a></li>
              <li class="color-2"><a href="#"></a></li>
              <li class="color-3"><a href="#"></a></li>
              <li class="color-4"><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="pro-rating sin-pro-rating f-right">
          <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
          <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
          <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
          <a href="#" tabindex="0"><i class="zmdi zmdi-star-half"></i></a>
          <a href="#" tabindex="0"><i class="zmdi zmdi-star-outline"></i></a>
          <span class="text-black-5">( 27 Rating )</span>
        </div>
      </div>
      <!-- hr -->
      <hr>
      <!-- plus-minus-pro-action -->
      <div class="plus-minus-pro-action clearfix">
        <div class="sin-plus-minus f-left clearfix">
          <p class="color-title f-left">Qty</p>
          <div class="cart-plus-minus f-left"><div class="dec qtybutton">-</div>
            <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
            <div class="inc qtybutton">+</div></div>
        </div>
        <div class="sin-pro-action f-right">
          <ul class="action-button">
            <li>
              <a href="#" title="Wishlist" tabindex="0"><i class="zmdi zmdi-favorite"></i></a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview" tabindex="0"><i class="zmdi zmdi-zoom-in"></i></a>
            </li>
            <li>
              <a href="#" title="Compare" tabindex="0"><i class="zmdi zmdi-refresh"></i></a>
            </li>
            <li>
              <a href="#" title="Add to cart" tabindex="0"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- plus-minus-pro-action end -->
      <!-- hr -->
      <hr>
      <!-- single-product-price -->
      <h3 class="pro-price">Price: $ 869.00</h3>
      <!--  hr -->
      <hr>
      <div>
        <a href="#" class="button extra-small button-black" tabindex="-1">
          <span class="text-uppercase">Buy now</span>
        </a>
      </div>
    </div>
  </div>
  <!-- single-product-info end -->
</div>
