/* -------------------------------------
    Featured product section
------------------------------------- */
.product-item {
  margin-bottom: 30px;
  transition: all 0.3s ease 0s;
}
.product-img img {
  width: 100%;
}
.product-info {
  background: #f6f6f6 none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;
}
.product-title {
  color: #434343;
  font-family: "Raleway",sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}
.pro-price {
  color: #666666;
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
  z-index: 9;
}
.action-button {}
.action-button > li {
  display: inline-block;
  margin-right: 10px;
}
.action-button > li:last-child {
  margin-right: 0;
}
.action-button > li > a {
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #999999;
  display: block;
  font-size: 14px;
  height: 30px;
  text-align: center;
  width: 30px;
}
.action-button > li > a i {
  line-height: 28px;
}
.action-button > li:hover > a {
  background: #FF7F00;
  border-color: #FF7F00;
  color: #fff;
}
.product-item:hover {
  box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.15);
}

/* -------------------------------------
    Shop List
------------------------------------- */
.shop-list.product-item {
  background: #f6f6f6 none repeat scroll 0 0;
  overflow: hidden;
}
.shop-list .product-img {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  padding-right: 30px;
  width: 37%;
}
.shop-list .product-info {
  float: left;
  padding: 30px 40px;
  text-align: left;
  width: 63%;
}
.shop-list .brand-name {
  color: #999999;
  font-style: italic;
  font-weight: 400;
}
.shop-list p {
  color: #666;
  margin-bottom: 30px;
}

/*           responsive    */
/* Large Screen  */
@media (min-width: 1200px) and (max-width: 1400px) {

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
  .shop-list .product-info {
    padding: 25px 30px 12px;
  }
  .shop-list .brand-name.mb-30 {
    margin-bottom: 10px;
  }
  .shop-list .pro-price {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .shop-list p {
    margin-bottom: 10px;
  }

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

  .shop-list .product-info {
    padding: 25px 30px 12px;
  }
  .shop-list .brand-name.mb-30 {
    margin-bottom: 10px;
  }
  .shop-list .pro-price {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .shop-list p {
    margin-bottom: 20px;
  }

}


/* small mobile :320px. */
@media (max-width: 767px) {

  h3 {
    font-size: 14px;
    line-height: 20px;
  }
  p {
    font-size: 12px;
  }
  .product-title {
    font-size: 13px;
  }

  .shop-list .product-info {
    padding: 25px 30px 12px;
  }
  .shop-list .brand-name.mb-30 {
    margin-bottom: 10px;
  }
  .shop-list .pro-price {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .shop-list p {
    margin-bottom: 20px;
  }
  .shop-list .product-img {
    padding-right: 0;
    width: 100%;
  }
  .shop-list .product-info {
    padding: 20px 15px;
    width: 100%;
  }

}

/*************************
  General
*************************/
a {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
a:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover {
  color: #ff7f00;
  text-decoration: none;
}
a {
  outline: medium none;
  color: #666666;
}
h3,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #434343;
  margin-top: 0px;
  font-style: normal;
  font-weight: 400;
}
h6 a {
  color: inherit
}
h3 {
  font-size: 20px;
}
h6 {
  font-size: 14px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
p {
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  color: #999999;
  margin-bottom: 15px;
}
*::-moz-selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}
.f-left {
  float: left
}

/*************************
  Input
*************************/
::-moz-placeholder {
  color: #444;
  font-size: 13px;
}

.mb-30 { margin-bottom: 30px }

/*==============================================*/



@font-face {
  font-family: 'Material-Design-Iconic-Font';
  src: url('/assets/fonts/Material-Design-Iconic-Font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.zmdi {
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zmdi-favorite:before {
  content: '\f15f';
}

.zmdi-zoom-in:before {
  content: '\f1ee';
}

.zmdi-refresh:before {
  content: '\f1b9';
}

.zmdi-shopping-cart-plus:before {
  content: '\f1ca';
}
