
<div class="shop-list product-item">
  <div class="product-img">
    <a href="single-product.html">
      <img src="/assets/img/product/11.jpg" alt="">
    </a>
  </div>
  <div class="product-info">
    <div class="clearfix">
      <h6 class="product-title f-left">
        <a href="#">Dummy Product Name </a>
      </h6>
      <app-product-ratings style="float: right;"></app-product-ratings>
    </div>
    <h6 class="brand-name mb-30">Brand Name</h6>
    <h3 class="pro-price">$ 869.00</h3>
    <p>Pure aloe vera juice ideal to help the body.</p>
    <ul class="action-button">
      <li>
        <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
      </li>
      <li>
        <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
      </li>
      <li>
        <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
      </li>
      <li>
        <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
      </li>
    </ul>
  </div>
</div>

