body {
  line-height: 1.5;
  font-family: "Muli", sans-serif;
}

p, li, input, select, button {
  font-family: "Muli", sans-serif;
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  color: #333;
}

p {
  color: #666;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  color: #888;
}

label {
  font-size: 14px;
  letter-spacing: 0;
  color: #848484;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  transition: all .3s ease-in 0s;
  color: #000;
}

iframe {
  border: 0;
}

a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #5672f9;
}

ul.pagination li {
  margin-right: 10px;
}

ul.pagination li a {
  border-radius: 3px !important;
  font-size: 16px;
  padding: 0;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-color: transparent;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: #666;
}

ul.pagination .active a {
  background-color: #5672f9 !important;
  color: #fff !important;
  border-color: transparent !important;
}

ul.social-circle-icons li {
  margin-right: 7px;
}

ul.social-circle-icons li:last-child {
  margin-right: 0;
}

ul.social-circle-icons li a {
  display: block;
  font-size: 15px;
  line-height: 38px;
  color: #5672f9;
  height: 38px;
  width: 38px;
  border: 2px solid #5672f9;
  background: #fff;
  border-radius: 100%;
}

ul.social-circle-icons li a:hover {
  text-decoration: none;
  color: #fff;
  background: #5672f9;
}

.store-list h4 {
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.01em;
  color: #666;
}

.store-list ul {
  list-style: none;
}

.store-list ul li {
  display: block;
  font-size: 15px;
  margin-bottom: 8px;
}

.store-list ul li a {
  display: block;
  color: #848484;
}

.store-list ul li a:hover {
  text-decoration: underline;
  color: #5672f9;
}

@media (max-width: 768px) {
}

/**
 *
 * Base Elements
 *
 */
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  transition: all .3s ease-in 0s;
  color: #000;
}

iframe {
  border: 0;
}

a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #5672f9;
}

/* WebKit, Blink, Edge */

/* Mozilla Firefox 4 to 18 */

/* Mozilla Firefox 19+ */

/* Internet Explorer 10-11 */

/* Microsoft Edge */

button {
  cursor: pointer;
}

.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-title h2 {
  font-size: 30px;
  letter-spacing: 0.05em;
  text-align: center;
}

.section-title h2:before {
  content: " ";
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: -24px;
  left: 0;
  right: 0;
  width: 127px;
  height: 2px;
  background-color: #e0e0e0;
}

.section-title h2:after {
  content: " ";
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  width: 40px;
  height: 5px;
  background-color: #5672f9;
}

.section-title p {
  font-size: 18px;
  line-height: 30px;
  color: #848484;
}

.social-media-icons ul li {
  display: inline-block;
}

.social-media-icons ul li a {
  font-size: 18px;
  color: #333;
  display: inline-block;
  padding: 7px 12px;
  color: #fff;
}

/**
 *
 * Button Styles
 *
 */

.btn-group .btn i {
  font-size: 16px;
  line-height: 40px;
}

/**
 *
 * Card Styles
 *
 */

.mt-30 {
  margin-top: 30px;
}

.alt-color {
  color: #c7c7c7;
}

.page-title h3 {
  color: #fff;
  font-size: 42px;
  letter-spacing: 0;
  line-height: 1;
  margin-bottom: 0;
}

ul.pagination li {
  margin-right: 10px;
}

ul.pagination li a {
  font-weight: 600;
  border-radius: 3px !important;
  font-size: 16px;
  padding: 0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-color: transparent;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: #666;
}

ul.pagination li a:hover {
  background-color: #5672f9 !important;
  color: #fff !important;
  border-color: transparent !important;
}

ul.pagination .active a {
  background-color: #5672f9 !important;
  color: #fff !important;
  border-color: transparent !important;
}

.popup .block-1 .media .media-body h4 {
  font-size: 24px;
}

.popup .block-2 {
  padding: 50px 80px;
  background: #fff;
}

.popup .block-2 h6 {
  margin-bottom: 20px;
}

.popup .block-2 p {
  width: 100%;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  background: #fff6f7;
  border: 2px dashed #5672f9;
  border-radius: 3px;
  margin-bottom: 40px;
}

.popup .block-2 form .form-group label {
  display: block;
  color: #666;
}

.popup .block-2 form .form-group a {
  float: right;
  margin-top: -5px;
}

.footer {
  background: #232425;
}

.footer .block h4 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 25px;
}

.footer .block.about img {
  margin-bottom: 25px;
}

.footer .block.about p {
  line-height: 26px;
}

.footer .block ul li {
  margin-bottom: 10px;
}

.footer .block ul li a {
  display: block;
  font-size: 14px;
  color: #797979;
}

.footer .block ul li a:hover {
  color: #5672f9;
  text-decoration: underline;
}

.footer .block ul.terms-list li a {
  padding-right: 10px;
}

@media (max-width: 768px) {
  .footer .block:last-child {
    margin-bottom: 30px;
  }
}

.footer .block-2 {
  padding: 18px 30px;
  background: #46484A;
  border-radius: 2px;
}

.footer .block-2.app-promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer .block-2.app-promotion p {
  margin-left: 20px;
  color: #fff;
}

.footer .block-2.discount-coupon p {
  color: #fff;
  margin-bottom: 0;
}

.footer .block-2.discount-coupon p a {
  color: #5672f9;
}

.footer-bottom {
  position: relative;
  background: #363839;
  padding: 25px 0;
}

@media (max-width: 480px) {
  .footer-bottom {
    text-align: center;
  }
}

.footer-bottom .copyright p {
  color: #c7c7c7;
  margin-bottom: 0;
}

.social-media-icons {
  text-align: center !important;
}

.social-media-icons li {
  display: inline-block;
}

.social-media-icons li a {
  color: #848484;
  padding: 0 20px;
}

.social-media-icons li a:hover {
  color: #fff !important;
  text-decoration: none;
}

.top-to {
  position: absolute;
  right: 20px;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.top-to a {
  width: 40px;
  height: 40px;
  background: #5672f9;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.top-to a i {
  line-height: 40px;
}

.top-to a:hover {
  text-decoration: none;
}

