<div class="single-product-info">
  <div class="clearfix">
    <div class="single-product-header">
      <h3 class="product-name text-black-1">{{product.name}}</h3>
      <h6 class="brand-name-2">{{product.brand}}</h6>
    </div>
    <!-- <app-product-ratings></app-product-ratings> -->
  </div>
  <span class="description">{{product.briefDescription}}</span>
  <hr>
  <app-product-info-tab [infoTabs]="infoTabs"></app-product-info-tab>
  <!--  hr -->
  <hr>
  <app-social-sharing style="display: block; margin: 0 31px;"></app-social-sharing>
  <!-- <hr> -->

  <!-- plus-minus-pro-action
  <div class="plus-minus-pro-action clearfix" style="padding: 0 31px;">
    <div class="sin-plus-minus clearfix">
      <p class="color-title f-left">Qty</p>
      <div class="cart-plus-minus f-right"><div class="dec qtybutton">-</div>
        <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
        <div class="inc qtybutton">+</div></div>
    </div>
  </div>
  <hr>
  <div class="pro-price clearfix">
    <h3 class="f-left">Price: $ {{product.price}}</h3>
    <div class="sin-pro-action f-right">
      <app-product-actions></app-product-actions>
    </div>
  </div>
  <hr>
  <div>
    <a href="#" class="button extra-small button-black" tabindex="-1">
      <span class="text-uppercase">Buy now</span>
    </a>
  </div>-->
</div>
