<header class="navigation-bar navigation-bar-custom navigation-bar-fixed-top" role="navigation">
  <div class="menu-container">
    <a class="navigation-bar-brand" routerLink="">
      <img [hidden]="!isCurrentLogo(logoType.GREEN_LOGO)" class="aloe-logo" src="assets/img/icons/logoAloe.png">
      <img [hidden]="!isCurrentLogo(logoType.WHITE_LOGO)" class="aloe-logo" src="assets/img/icons/logoAloe-white.png">
      <img class="aloe-logo-min" src="assets/img/icons/logoAloe-min-white.png">
    </a>
    <div class="navigation-bar-header page-scroll">
      <button type="button" class="navigation-bar-toggle" data-toggle="collapse" data-target=".navigation-bar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navigation-bar-collapse navigation-bar-right navigation-bar-main-collapse">
      <ul class="navigation navigation-bar-nav">
        <li [ngClass]="{'active' : isItemActive('main')}"><a routerLink="" fragment="intro">Главная</a></li>
        <li [ngClass]="{'active' : isItemActive('about')}"><a routerLink="" fragment="about">О нас</a></li>
        <li [ngClass]="{'active' : isItemActive('store')}"><a routerLink="/products">Магазин</a></li>
        <li [ngClass]="{'active' : isItemActive('contact')}"><a routerLink="" fragment="contact">Контакты</a></li>
        <li [ngClass]="{'active' : isItemActive('bucket')}"><a routerLink=""><i class="fa fa-shopping-cart fa-1_5x" aria-hidden="true"></i></a></li>
        <li class="search-form">
          <form [formGroup]="searchForm" (submit)="onSubmit()" novalidate>
            <div class="form-group">
              <label for="search" class="sr-only">Поиск</label>
              <input (focus)="onSearchFieldFocus()" (blur)="onSearchFieldBlur()"
                     formControlName="searchField" type="text"
                     class="form-control" id="search" placeholder="Поиск..."/>
              <i class="fa fa-search fa-1_5x"></i>
              <span *ngIf="loading" class="search-spinner">
                <img src="assets/img/loading.gif">
              </span>
            </div>
          </form>
        </li>
      </ul>
    </div>
    <!-- /.navigation-bar-collapse -->
  </div>
  <!-- /.container -->
</header>
<ul  class="list-group search-result">
  <li class="list-group-item search-item"
      *ngFor="let product of products$ | async">
    <img src="{{product.mainImage}}" class="product-icon-small">
    <a routerLink="/products/{{product.id}}">{{product.name}}</a>
  </li>
</ul>
<div [hidden]="!isSearchFocused()" id="overlay"></div>
