<header class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="index.html">
      <img class="aloe-logo" src="assets/img/icons/logoAloe.png">
    </a>
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#intro">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="">Shop</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href=""><i class="fa fa-cog fa-1_5x" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-shopping-cart fa-1_5x" aria-hidden="true"></i></a></li>
        <li class="search-form">
          <div class="form-group">
            <label for="search" class="sr-only">Search</label>
            <input type="text" class="form-control" name="search" id="search" placeholder="Search...">
            <i class="fa fa-search fa-1_5x"></i>
          </div>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</header>
