<header class="navigation-bar navigation-bar-custom navigation-bar-fixed-top" role="navigation">
  <div class="menu-container">
    <a class="navigation-bar-brand" href="index.html">
      <img class="aloe-logo" src="assets/img/icons/logoAloe-white.png">
      <img class="aloe-logo-min" src="assets/img/icons/logoAloe-min-white.png">
    </a>
    <div class="navigation-bar-header page-scroll">
      <button type="button" class="navigation-bar-toggle" data-toggle="collapse" data-target=".navigation-bar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navigation-bar-collapse navigation-bar-right navigation-bar-main-collapse">
      <ul class="navigation navigation-bar-nav">
        <li class="active"><a href="#intro">Главная</a></li>
        <li><a href="#about">О нас</a></li>
        <li><a routerLink="/products">Магазин</a></li>
        <li><a href="#contact">Контакты</a></li>
        <li><a href=""><i class="fa fa-shopping-cart fa-1_5x" aria-hidden="true"></i></a></li>
        <li class="search-form">
          <div class="form-group">
            <label for="search" class="sr-only">Поиск</label>
            <input type="text" class="form-control" name="search" id="search" placeholder="Поиск...">
            <i class="fa fa-search fa-1_5x"></i>
          </div>
        </li>
      </ul>
    </div>
    <!-- /.navigation-bar-collapse -->
  </div>
  <!-- /.container -->
</header>
