ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  transition: all .3s ease-in 0s;
  color: #000;
}

a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #5672f9;
}

.widget {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 25px 30px 30px;
  margin-bottom: 30px;
  border-radius: 2px;
}

.widget .widget-header {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.widget a.widget-header:hover {
  cursor: pointer;
}

.widget.category-list ul li:not(:last-child) {
  border-bottom: 1px solid #F4F7F9;
}

.widget.category-list ul li a {
  padding: 8px 0;
  display: block;
}

.widget.category-list ul li a span {
  float: right;
  font-size: 10px;
  background: #F4F7F9;
  border-radius: 10px;
  padding: 3px 8px;
  color: #84919B;
}

.widget .collapse-section {
  height: 100%;
  overflow: hidden;
}
