<div class="widget category-list">
  <a (click)="toggleCollapse()" class="widget-header">
    All Category
    <i [ngClass] = "{'fa-caret-down': isOpened(),
                     'fa-caret-right': !isOpened()}"
       class="fa float-right"></i>
  </a>
  <div class="collapse-section" [@collapse]="collapse">
    <ul class="category-list">
      <li><a href="#">Laptops <span>93</span></a></li>
      <li><a href="category.html">Iphone <span>233</span></a></li>
      <li><a href="category.html">Microsoft  <span>183</span></a></li>
      <li><a href="category.html">Monitors <span>343</span></a></li>
    </ul>
  </div>
</div>
