.widget {
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 25px 30px 30px;
  margin-bottom: 30px;
  font-family: Segoe UI Light, sans-serif;
}

.widget .widget-header {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
}

.widget a.widget-header:hover,
.widget.category-list ul.categories li {
  cursor: pointer;
}

.widget.category-list ul.categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget.category-list ul.categories li {
  transition: all .3s ease-in 0s;
}

.widget.category-list ul.categories li.selected {
  background-color: #454343;
  border-radius: 50px;
  color: #fff;
}

.widget.category-list ul.categories li:not(:last-child) {
  border-bottom: 1px solid #F4F7F9;
}

.widget.category-list ul.categories li {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.widget.category-list ul.categories li span.name {
  width: 100%;
}

.widget.category-list ul.categories li span.count {
  float: right;
  font-size: 10px;
  background: #F4F7F9;
  border-radius: 10px;
  padding: 3px 8px;
  color: #84919B;
}

.widget .collapse-section {
  height: 100%;
  overflow: hidden;
}
