<div class="widget category-list">
  <a (click)="toggleCollapse()" class="widget-header">
    All Category
    <i [ngClass] = "{'fa-caret-down': isOpened(),
                     'fa-caret-right': !isOpened()}"
       class="fa float-right"></i>
  </a>
  <div class="collapse-section" [@collapse]="collapse">
    <ul class="categories">
      <li *ngFor="let category of categoryList; trackBy: trackCategoryFn"
          (click) = "selectCategory(category.name)"
          [ngClass] = "{'selected': isCategorySelected(category.name)}">
          <span class="name">{{category.name}}</span><span class="count">{{category.products}}</span>
      </li>
    </ul>
  </div>
</div>
