<div class="widget category-list">
  <a (click)="toggleCollapse()" class="widget-header">
    All Category
    <i [ngClass] = "{'fa-caret-down': isOpened(),
                     'fa-caret-right': !isOpened()}"
       class="fa float-right"></i>
  </a>
  <div class="collapse-section" [@collapse]="collapse">
    <ul class="category-list">
      <li><a href="#">SKIN CARE LINE<span>0</span></a></li>
      <li><a href="#">HEALTH LINE <span>0</span></a></li>
      <li><a href="#">MEN'S LINE<span>0</span></a></li>
      <li><a href="#">KIDS LINE<span>0</span></a>
      <li><a href="#">VINOTHERAPY<span>0</span></a></li>
      <li><a href="#">ARGAN LINE <span>0</span></a></li>
      <li><a href="#">MAKEUP<span>0</span></a></li>
      <li><a href="#">GIFT<span>0</span></a></li>
      <li><a href="#">IDEAS<span>0</span></a></li>
      <li><a href="#">HOME<span>0</span></a></li>
      <li><a href="#">PETS<span>0</span></a></li>
    </ul>
  </div>
</div>
