<!-- Section: intro -->
<section id="intro" class="intro">
  <div class="overlay"></div>

  <div class="slogan">
    <h2><span class="text_color">ALOE PLUS LANZAROTE</span></h2>
    <h4>Сделана для каждого</h4>
  </div>
  <div class="page-scroll">
    <a href="#products" class="btn btn-circle">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
</section>
<!-- /Section: intro -->

<!-- Section: about -->
<section id="about">
  <div class="container container-fluid">
    <div class="heading">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
              <div class="section-heading">
                <h2>О нас</h2>
                <p>   Мы являемся официальным представителем в Беларуси компании <span>Aloe Plus Lanzarote</span> -
                  Испанского производителя натуральной косметики.</p>
                <p>Главный принцип в нашей работе – это любовь и преданность своему делу.
                  Мы занимаемся любимым делом, отдаемся ему, и надеемся на то, что наше дело приносит
                  пользу и удовольствие нашим клиентам.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row about-cols row-flex row-flex-wrap">
      <div class="col-lg-4 wow fadeInUp">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-ios-list-outline"></i></div>
          </div>
          <h2 class="title"><a href="#">Косметика</a></h2>
          <p>
            Мы предлагаем широкий спектр натуральной косметики,
            товаров боди-серии и товаров по уходу за домом и животными,
            которые смогут, удовлетворить любые ваши потребности.

          </p>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-leaf"></i></div>
          </div>
          <h2 class="title"><a href="#">Сырье</a></h2>
          <p>
            Сок алое - это мощный биостимулятор, повышающий клеточную активность, обладающий сильными
            антимикробными, противогрибковыми, противовоспалительными и регенерирующими свойствами.
          </p>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-android-bulb"></i></div>
          </div>
          <h2 class="title"><a href="#">Успех</a></h2>
          <p>
            ALOE PLUS LANZAROTE стала лидером в секторе косметики не только на острове Лансароте
            и на Канарах, но и по всей Европе.
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- /Section: about -->

<!-- Section: products -->
<section id="products" class="home-section text-center bg-gray">
  <div class="heading-products">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Лучшие продукты</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 ">
        <hr class="marginbot-50">
      </div>
    </div>
    <div id="products-slider" class="owl-carousel owl-theme">
      <div class="product">
        <div class="item-image">
          <img src="assets/img/155-con.jpg" class="img-fluid" alt="">
          <div class="hover-overlay">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a href="" class="cart"><i class="icon-cart-1"></i></a></li>
              <li class="list-inline-item"><a href="#" class="expand" data-target="#cart-popup-1"><i class="icon-expand"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="item-info">
          <div class="clearfix">
            <h5 class="float-left">GEL DÉRMICO DE ALOE VERA 250ml</h5>
          </div>
          <div>
            <ul class="rate list-unstyled list-inline float-left">
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
            </ul> <span class="price float-right">70.00$</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="item-image">
          <img src="assets/img/cesta-celebraciones.jpg" class="img-fluid" alt="">
          <div class="hover-overlay">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a href="" class="cart"><i class="icon-cart-1"></i></a>
              </li>
              <li class="list-inline-item"><a href="#" class="expand" data-target="#cart-popup-1"><i class="icon-expand"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="item-info">
          <div class="clearfix">
            <h5 class="float-left">GEL DÉRMICO DE ALOE VERA 250ml</h5>
          </div>
          <div>
            <ul class="rate list-unstyled list-inline float-left">
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
            </ul> <span class="price float-right">70.00$</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="item-image">
          <img src="assets/img/155-con.jpg" class="img-fluid" alt="">
          <div class="hover-overlay">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a href="" class="cart"><i class="icon-cart-1"></i></a>
              </li>
              <li class="list-inline-item"><a href="#" class="expand" data-target="#cart-popup-1"><i class="icon-expand"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="item-info">
          <div class="clearfix">
            <h5 class="float-left">GEL DÉRMICO DE ALOE VERA 250ml</h5>
          </div>
          <div>
            <ul class="rate list-unstyled list-inline float-left">
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
            </ul> <span class="price float-right">70.00$</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="item-image">
          <img src="assets/img/cesta-celebraciones.jpg" class="img-fluid" alt="">
          <div class="hover-overlay">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a href="" class="cart"><i class="icon-cart-1"></i></a>
              </li>
              <li class="list-inline-item"><a href="#" class="expand" data-target="#cart-popup-1"><i class="icon-expand"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="item-info">
          <div class="clearfix">
            <h5 class="float-left">GEL DÉRMICO DE ALOE VERA 250ml</h5>
          </div>
          <div>
            <ul class="rate list-unstyled list-inline float-left">
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
            </ul> <span class="price float-right">70.00$</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="item-image">
          <img src="assets/img/155-con.jpg" class="img-fluid" alt="">
          <div class="hover-overlay">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a href="" class="cart"><i class="icon-cart-1"></i></a>
              </li>
              <li class="list-inline-item"><a href="#" class="expand" data-target="#cart-popup-1"><i class="icon-expand"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="item-info">
          <div class="clearfix">
            <h5 class="float-left">GEL DÉRMICO DE ALOE VERA 250ml</h5>
          </div>
          <div>
            <ul class="rate list-unstyled list-inline float-left">
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
            </ul> <span class="price float-right">70.00$</span>
          </div>
        </div>
      </div>
      <div class="product">
        <div class="item-image">
          <img src="assets/img/cesta-celebraciones.jpg" class="img-fluid" alt="">
          <div class="hover-overlay">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item"><a href="" class="cart"><i class="icon-cart-1"></i></a>
              </li>
              <li class="list-inline-item"><a href="#" class="expand" data-target="#cart-popup-1"><i class="icon-expand"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="item-info">
          <div class="clearfix">
            <h5 class="float-left">GEL DÉRMICO DE ALOE VERA 250ml</h5>
          </div>
          <div>
            <ul class="rate list-unstyled list-inline float-left">
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
              <li class="list-inline-item"><i class="fa fa-star"></i>
              </li>
            </ul> <span class="price float-right">70.00$</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- /Section: products -->


<!-- Section: category-->
<section id="category" class="home-section text-center clearfix">
  <div class="heading-category">
    <div class="container">
      <div class="d-block">
        <div class="col-xl-12">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Категории</h2>
              <h4>Наша продукция сделана для каждого:</h4>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-xl-3 col-md-6 col-lg-3 col-12 category">
      <div class="women">
      </div>
      <h3>Для женщин</h3>
      <p class="category-list-description">Средства для ухода за лицом и телом для женщин.
        Сделаны на основе натуральных ингредиентов. Широкий ассортимент для любых типов кожи.</p>
      <p class="category-list-footer">
        <a class="btn">Подробнее</a>
      </p>
    </div>
    <div class="col-xl-3 col-md-6 col-lg-3 col-12 category">
      <div class="men">
      </div>
      <h3>Для мужчин</h3>
      <p class="category-list-description">Средства для ухода за лицом и телом для мужчин.
        Сделаны на основе натуральных ингредиентов. Широкий ассортимент для любых типов кожи.</p>
      <p class="category-list-footer">
        <a class="btn">Подробнее</a>
      </p>
    </div>
    <div class="col-xl-3 col-md-6 col-lg-3 col-12 category">
      <div class="children">
      </div>
      <h3>Для детей</h3>
      <p class="category-list-description">Средства для ухода за лицом и телом для детей.
        Сделаны на основе натуральных ингредиентов. Широкий ассортимент для любых типов кожи.</p>
      <p class="category-list-footer">
        <a class="btn">Подробнее</a>
      </p>
    </div>
    <div class="col-xl-3 col-md-6 col-lg-3 col-12 category">
      <div class="home-pets">
      </div>
      <h3>Для дома и животных</h3>
      <p class="category-list-description">Средства для дома и животных сделаны на основе натуральных ингредиентов.
        Широкий ассортимент для любых типов кожи.</p>
      <p class="category-list-footer">
        <a class="btn">Подробнее</a>
      </p>
    </div>
  </div>
</section>
<!-- /Section: about -->
<!-- Section: contact -->
<section id="contact" class="home-section text-center">
  <div class="heading-contact">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Get in touch</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <hr class="marginbot-50">
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 col-12">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3cd515b3366b44acdb3b4f16b11700910b8f8151630ddaec0acc46a7f390a967&amp;source=constructor"
                width="100%" height="300" frameborder="0"></iframe>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-12">
        <div class="widget-contact">
          <h5>Main Office</h5>

          <address>
            <strong>Squas Design, Inc.</strong><br>
            Tower 795 Folsom Ave, Beautiful Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>

          <address>
            <strong>Email</strong><br>
            <a href="mailto:#">email.name@example.com</a>
          </address>
          <address>
            <strong>Мы в социальных сетях:</strong><br>
            <ul class="company-social">
              <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
              </li>
              <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
              </li>
            </ul>
          </address>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: contact -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">We'd Love to Hear From You</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal col-sm-12">
          <div class="form-group"><label>Name</label><input class="form-control required"
                                                            placeholder="Your name" data-placement="top"
                                                            data-trigger="manual"
                                                            data-content="Must be at least 3 characters long, and must only contain letters."
                                                            type="text"></div>
          <div class="form-group"><label>Message</label><textarea class="form-control"
                                                                  placeholder="Your message here.."
                                                                  data-placement="top"
                                                                  data-trigger="manual"></textarea></div>
          <div class="form-group"><label>E-Mail</label><input class="form-control email"
                                                              placeholder="email@you.com (so that we can contact you)"
                                                              data-placement="top" data-trigger="manual"
                                                              data-content="Must be a valid e-mail address (user@gmail.com)"
                                                              type="text"></div>
          <div class="form-group"><label>Phone</label><input class="form-control phone"
                                                             placeholder="999-999-9999" data-placement="top"
                                                             data-trigger="manual"
                                                             data-content="Must be a valid phone number (999-999-9999)"
                                                             type="text"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-success float-right">Send It!</button>
            <p class="help-block float-left text-danger hide" id="form-error">&nbsp; The form is not
              valid.</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="container contactUs">
  <div class="row">
    <h1 class="float-right contact-button">
      <a href="#myModal" role="button" class="btn btn-primary btn-lg mgo-widget-call_pulse" data-toggle="modal">
        <i class="fa fa-envelope"></i>
      </a>
    </h1>
  </div>
</div>
<!--<app-product-search></app-product-search>-->
