<!-- Section: intro -->
<section id="intro" class="intro">
  <div class="overlay"></div>

  <div class="slogan">
    <h2><span class="text_color">ALOE PLUS LANZAROTE</span></h2>
    <h4>Косметика Канарских островов</h4>
  </div>
  <div class="page-scroll">
    <a href="#products" class="btn btn-circle">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
</section>
<!-- /Section: intro -->

<!-- Section: about -->
<section id="about">
  <div class="container container-fluid">
    <div class="heading">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
              <div class="section-heading">
                <h2>О нас</h2>
                <p> Мы являемся официальным представителем в Беларуси компании <span>Aloe Plus Lanzarote</span> -
                  Испанского производителя натуральной косметики.</p>
                <p>Главный принцип в нашей работе – это любовь и преданность своему делу.
                  Мы занимаемся любимым делом, отдаемся ему, и надеемся на то, что наше дело приносит
                  пользу и удовольствие нашим клиентам.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row about-cols row-flex row-flex-wrap">
      <div class="col-lg-4 wow fadeInUp">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-part2.png" alt="" class="img-fluid">
            <div class="icon"><i class="ion-ios-list-outline"></i></div>
          </div>
          <h2 class="title"><a href="#">Косметика</a></h2>
          <p>
            Мы предлагаем широкий спектр натуральной косметики,
            товаров боди-серии и товаров по уходу за домом и животными,
            которые смогут, удовлетворить любые ваши потребности.

          </p>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-part1.png" alt="" class="img-fluid">
            <div class="icon"><i class="ion-leaf"></i></div>
          </div>
          <h2 class="title"><a href="#">Сырье</a></h2>
          <p>
            Сок алое - это мощный биостимулятор, повышающий клеточную активность, обладающий сильными
            антимикробными, противогрибковыми, противовоспалительными и регенерирующими свойствами.
          </p>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
            <div class="icon"><i class="ion-android-bulb"></i></div>
          </div>
          <h2 class="title"><a href="#">Успех</a></h2>
          <p>
            ALOE PLUS LANZAROTE стала лидером в секторе косметики не только на острове Лансароте
            и на Канарах, но и по всей Европе.
          </p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- /Section: about -->

<!-- Section: products -->
<section id="products" class="home-section text-center bg-gray">
  <div class="heading-products">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Продукция</h2>
              <div>
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#bestsellers">Бестселлеры</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#sets">Наборы</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#stock">Акции</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12 ">
        <hr class="marginbot-50">
      </div>
    </div>
    <div class="tab-content">
      <div class="container-fluid active drivers-main tab-pane" id="bestsellers">
        <app-bestsellers></app-bestsellers>
      </div>
      <div class="container-fluid drivers-main tab-pane" id="sets">
        <app-sets style="height: 100%;"></app-sets>
      </div>
      <div class="container-fluid drivers-main tab-pane" id="stock">
        <app-stock></app-stock>
      </div>
    </div>
  </div>
</section>
<!-- /Section: products -->


<!-- Section: category-->
<section id="category" class="home-section text-center clearfix">
  <div class="heading-category">
    <div class="container">
      <div class="d-block">
        <div class="col-xl-12">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Категории</h2>
              <h4>Наша продукция создана для каждого:</h4>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-xl-3 col-md-6 col-lg-3 col-12 category">
      <div class="women">
      </div>
      <h3>Для женщин</h3>
      <p class="category-list-description">Средства для ухода за лицом и телом для женщин.
        Сделаны на основе натуральных ингредиентов.</p>
      <p class="category-list-footer">
        <a class="btn">Подробнее</a>
      </p>
    </div>
    <div class="col-xl-3 col-md-6 col-lg-3 col-12 category">
      <div class="men">
      </div>
      <h3>Для мужчин</h3>
      <p class="category-list-description">Средства для ухода за лицом и телом для мужчин.
        Сделаны на основе натуральных ингредиентов.</p>
      <p class="category-list-footer">
        <a class="btn">Подробнее</a>
      </p>
    </div>
    <div class="col-xl-3 col-md-6 col-lg-3 col-12 category">
      <div class="children">
      </div>
      <h3>Для детей</h3>
      <p class="category-list-description">Средства для ухода за лицом и телом для детей.
        Сделаны на основе натуральных ингредиентов.</p>
      <p class="category-list-footer">
        <a class="btn">Подробнее</a>
      </p>
    </div>
    <div class="col-xl-3 col-md-6 col-lg-3 col-12 category">
      <div class="home-pets">
      </div>
      <h3>Для дома и животных</h3>
      <p class="category-list-description">Средства для дома и животных сделаны на основе натуральных ингредиентов.
      </p>
      <p class="category-list-footer">
        <a class="btn">Подробнее</a>
      </p>
    </div>
  </div>
</section>
<!-- /Section: about -->
<!-- Section: contact -->
<section id="contact" class="home-section text-center bg-gray">
  <div class="heading-contact">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="wow bounceInDown" data-wow-delay="0.4s">
            <div class="section-heading">
              <h2>Контакты</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <hr class="marginbot-50">
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 col-12">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A3cd515b3366b44acdb3b4f16b11700910b8f8151630ddaec0acc46a7f390a967&amp;source=constructor"
          width="100%" height="300" frameborder="0"></iframe>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-12">
        <div class="widget-contact">
          <h5>Наш офис</h5>

          <address>
            <strong>Squas Design, Inc.</strong><br>
            Tower 795 Folsom Ave, Beautiful Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>

          <address>
            <strong>Email</strong><br>
            <a href="mailto:#">email.name@example.com</a>
          </address>
          <address>
            <strong>Мы в социальных сетях:</strong><br>
            <ul class="company-social">
              <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
              </li>
              <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
              </li>
              <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
              </li>
            </ul>
          </address>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Section: contact -->
<app-contact-us></app-contact-us>
<!--<app-product-search></app-product-search>-->
