<div class="widget dashboard-container my-adslist">
          <h3 class="widget-header">My Ads</h3>
          <table class="table table-responsive product-dashboard-table">
            <thead>
            <tr>
              <th>Image</th>
              <th>Product Title</th>
              <th class="text-center">Category</th>
              <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
              <tr app-product-record></tr>
            </tbody>
          </table>
        </div>
<app-pagination></app-pagination>

