/*move responsive from product-detail.component.css*/
.modal-product .product-info .quick-add-to-cart {
  border-bottom: 1px solid #e5e5e5;
  float: left;
  margin: 0 0 15px;
  padding: 0 0 30px;
  width: 100%;
}
.quick-add-to-cart .numbers-row > input {
  border: 1px solid #e5e5e5;
  float: left;
  height: 45px;
  text-align: center;
  width: 100px;
}
.quick-add-to-cart .single_add_to_cart_button {
  background: #666 none repeat scroll 0 0;
  border: medium none;
  border-radius: 3px;
  color: #ffffff;
  float: left;
  font-weight: 700;
  height: 45px;
  margin-left: 15px;
  padding: 0 55px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.quick-add-to-cart .single_add_to_cart_button:hover {
  background: #FF7F00 none repeat scroll 0 0;
}
.modal-product .product-info .quick-desc {
  border-bottom: 1px solid #e5e5e5;
  color: #909295;
  margin-bottom: 10px;
  padding: 0 0 15px;
}
.widget-title-modal {
  color: #42414f;
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 5px;
  text-transform: none;
  width: 100%;
}
.modal-product .widget .social-icons li {
  float: left;
  margin-right: 10px;
}
.modal-product .widget .social-icons li a {
  border: 1px solid #e5e5e5;
  color: #909295;
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  width: 40px;
}
.modal-product .widget .social-icons li a:hover {
  color: #ffffff;
}
