<div class="single-product-tab">
  <ul class="description-tab" style="display: inline-block; width:100%;">
    <li class="f-left active"><a href="#details" data-toggle="tab" aria-expanded="false">details</a>
    </li>
    <div class="tab-content bottom">
      <div role="tabpanel" class="tab-pane active" id="details">
        <p>There are many variations of passages of Lorem Ipsum available, but the majo Rity have be suffered alteration in some form, by injected humou or randomis Rity have be suffered alteration in some form, by injected humou or randomis words which donot look even slightly believable. If you are going to use a passage Lorem Ipsum.</p>
      </div>
    </div>
    <li class="f-left"><a href="#active-ingredients" data-toggle="tab" aria-expanded="false">active ingredients</a></li>
    <div class="tab-content bottom">
      <div role="tabpanel" class="tab-pane" id="active-ingredients">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, neque fugit inventore quo dignissimos est iure natus quis nam illo officiis,  deleniti consectetur non ,aspernatur.</p>
        <p>rerum blanditiis dolore dignissimos expedita consequatur deleniti consectetur non exercitationem.</p>
      </div>
    </div>
    <li class="f-left"><a href="#properties" data-toggle="tab" aria-expanded="false">properties</a></li>
    <div class="tab-content bottom">
      <div role="tabpanel" class="tab-pane" id="properties">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, neque fugit inventore quo dignissimos est iure natus quis nam illo officiis,  deleniti consectetur non ,aspernatur.</p>
        <p>rerum blanditiis dolore dignissimos expedita consequatur deleniti consectetur non exercitationem.</p>
      </div>
    </div>
    <li class="f-left"><a href="#directions" data-toggle="tab" aria-expanded="false">directions</a></li>
    <div class="tab-content bottom">
      <div role="tabpanel" class="tab-pane" id="directions">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, neque fugit inventore quo dignissimos est iure natus quis nam illo officiis,  deleniti consectetur non ,aspernatur.</p>
        <p>rerum blanditiis dolore dignissimos expedita consequatur deleniti consectetur non exercitationem.</p>
      </div>
    </div>
  </ul>
</div>
