<div class="review-submission">
  <h3 class="tab-title">Submit your review</h3>
  <div class="review-submit">
    <form action="#" class="row">
      <div class="form-control">
        <span class="col-lg-6">Put you rate:</span>
        <app-product-ratings class="col-lg-6" style="float: right;"></app-product-ratings>
      </div>
      <div class="col-lg-6">
        <input type="text" name="name" id="name" class="form-control" placeholder="Name">
      </div>
      <div class="col-lg-6">
        <input type="email" name="email" id="email" class="form-control" placeholder="Email">
      </div>
      <div class="col-12">
        <textarea type="review" name="review" id="review" rows="10" class="form-control" placeholder="Message"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-main">Sumbit</button>
      </div>
    </form>
  </div>
</div>
