/deep/ ul.pagination li {
  margin-right: 10px;
}

/deep/ ul.pagination li a {
  font-weight: 600;
  border-radius: 3px !important;
  font-size: 16px;
  padding: 0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-color: transparent;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: #666;
  transition: all .3s ease-in-out 0s;
}

/deep/ ul.pagination li a:hover {
  background-color: #454343 !important;
  color: #fff !important;
  border-color: transparent !important;
}

/deep/ ul.pagination .active a {
  background-color: #454343 !important;
  color: #fff !important;
  border-color: transparent !important;
}

/deep/ .page-item.disabled .page-link {
  color: #ddd;
  pointer-events: none;
  background-color: #fff;
  border-color: #fff;
}
