<!--todo to popup when size is small less than 768-->
<app-search-widget *ngIf="widgetsState.searchTerm != null"
                   [term]="widgetsState.searchTerm"
                   (onTermSelect)="selectTerm($event)">
</app-search-widget>
<app-products-line-category-widget [categoriesList]="categoryList"
                                   [selectedCategoryIds]="widgetsState.categoryIds"
                                   (onCategoriesChange)="selectCategories($event)">
</app-products-line-category-widget>
