<div class="shop-content">
  <div class="shop-option box-shadow mb-30 clearfix">
    <!-- showing -->
    <div class="showing f-left text-left">
      <span>Showing : 01-09 of 17.</span>
    </div>
    <!-- short-by -->
    <div class="short-by f-left text-center">
      <span>Sort by :</span>
      <select>
        <option value="name">Name</option>
        <option value="category">Category</option>
        <option value="newItem">New Item</option>
      </select>
    </div>
    <!-- Nav tabs -->
    <ul class="shop-tab f-right text-right" role="tablist">
      <li>
        <a><i class="zmdi zmdi-view-module"></i></a>
      </li>
      <li class="active">
        <a><i class="zmdi zmdi-view-list-alt"></i></a>
      </li>
    </ul>
  </div>
</div>
