.category-search-filter {
  background: #f7f7f7;
  padding: 20px;
}

.category-search-filter strong {
  margin: 0 5px;
}

.category-search-filter .view {
  text-align: right;
}

.category-search-filter .view ul {
  display: inline-block;
}

.category-search-filter .view ul li:not(:last-child) {
  margin-right: 10px;
}

.category-search-filter .view ul li a {
  font-size: 15px;
  color: #212529;
}

.category-search-filter .view .view-switcher {
  background: #fff;
  padding: 10px 15px;
}

