:host {
  font-size: 14px;
}

.section-sm {
  padding: 110px 0 70px;
}

.mt-30 {
  margin-top: 30px;
}

.search-result {
  background: #f8f8f8;
  text-align: center;
  padding: 16px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 10px 0;
}

.search-result h5 {
  color: #575757;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
}
.search-result h5 span {
  color: #999999;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
}

@media (min-width: 992px) {
  .search-result.search-result-bottom {
    display: none;
  }
}

@media (max-width: 991px) {
  .search-result.search-result-top {
    display: none;
  }
}

.f-right {
  float: right;
}

.search-result-title, .search-result-term {
  font-family: futura-pt,sans-serif;
  color: #2d2d2d;
}
.search-result-title {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: .4px;
}
.search-result-title, .search-result-term {
  margin: 0;
}


/* small mobile :320px. */
@media (max-width: 767px) {
  .section-sm {
    padding: 60px 0;
  }
}

@media (min-width: 768px) {
  .search-result-term {
    font-size: 24px;
  }
}

.search-result-term {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.45;
  letter-spacing: 1.8px;
  text-transform: capitalize;
}
.search-result-title, .search-result-term {
  font-family: futura-pt,sans-serif;
  color: #2d2d2d;
}
.search-result-title, .search-result-term {
  margin: 0;
}

.text,
.searchTerm {
  margin: 0;
}
