<section class="section-sm">
  <div class="container">
    <div class="row">
      <app-products-breadcrumb></app-products-breadcrumb>
      <div *ngIf="searchTerm" class="col-md-12">
        <div id="search-term-banner" class="search-result search-result-top">
          <p class="search-result-title">Your search results for:</p>
          <p class="search-result-term">"{{searchTerm}}"</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <div class="category-sidebar">
          <app-widgets [searchTerm]="filterState.searchTerm"
                       [categoryIds]="filterState.categoryIds"
                       (onTermSelect)="selectTerm($event)"
                       (onCategoriesChange)="selectCategories($event)">
          </app-widgets>
        </div>
      </div>

      <div class="col-lg-9 col-lg-push-3 col-xs-12">
        <div class="shop-content">

          <div *ngIf="searchTerm" class="search-result search-result-bottom">
            <p class="search-result-title">Your search results for:</p>
            <p class="search-result-term">"{{searchTerm}}"</p>
          </div>

          <app-products-control-panel [startItemsIndex]="getStartItemIndex()"
                                      [endItemsIndex]="getEndItemIndex()"
                                      [itemsCount]="productsTotalCount"
                                      [sortOption]="filterState.sortField"
                                      [viewType] = "selectedViewType"
                                      (onSelectViewType) = "selectViewType($event)"
                                      (onSelectSortOption) = "selectSortOption($event)">
          </app-products-control-panel>
          <div *ngIf="loading" id="load" style="z-index: 9990"></div>
          <div *ngIf="!loading" class="tab-content">
            <div [ngSwitch]="selectedViewType" class="tab-pane active">
              <div *ngSwitchCase="viewType.LIST" class="row mt-30">
                  <!-- product card -->
                <app-product-item-list *ngFor="let product of products"
                                       [product]="product"
                                       class="col-md-12">
                </app-product-item-list>
              </div>
              <div *ngSwitchCase="viewType.GRID" class="row mt-30">
                <!-- product card -->
                <app-product-item-grid *ngFor="let product of products"
                                       [product]="product"
                                       class="col-sm-12 col-lg-4 col-md-6">
                </app-product-item-grid>
              </div>
            </div>
          </div>
          <app-pagination *ngIf="!loading"
                          [pageSize] = "pageSize"
                          [page] = "filterState.page"
                          [collectionSize] = "productsTotalCount"
                          (onPageSelect) = "selectPage($event)">
          </app-pagination>
        </div>
      </div>
    </div>
  </div>
</section>
