.contactUs a {
  background-color: #f73859;
  border: 1px solid  #f73859;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 15px;
}

.contactUs .contact-button{
  position: fixed;
  right: 10px;
  bottom: 0px;
}

.contactUs{
  z-index: 100;
}

.contactUs h1{
  margin-bottom: 10px;
  z-index: 999999;
}

.mgo-widget-call_pulse {
  -webkit-animation: shake 2s infinite ease-in-out;
  animation: shake 2s infinite ease-in-out;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.mgo-widget-call_pulse:after,
.mgo-widget-call_pulse:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  top: 0;
  background-color: #f73859;
  border-radius: 100%;
  -webkit-animation: pulse 2s infinite ease-in-out;
  animation: pulse 2s infinite ease-in-out;
}
.mgo-widget-call_pulse:before {
  margin: auto 0 auto -32.5px;
  height: 65px;
  width: 65px;
  opacity: .5;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
.mgo-widget-call_pulse:after {
  margin: auto 0 auto -46px;
  height: 92px;
  width: 92px;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
  opacity: .25;
}

.modal-content h3#contactModalLabel {
  padding-top: 35px;
  font-size: 1.7rem;
  margin: 0;
}
.modal-content .modal-header p {
  text-align: center;
  margin-bottom: 0px;
}
#contactModal .modal-body {
  margin-bottom: 20px;
}
#contactModal .btn-success {
  background-color: #337f25;
  border-color: #337f25;
}
