<div class="comment-line media">
  <!-- Avater -->
  <img src="assets/images/user/user-thumb.jpg" alt="avater">
  <div class="media-body">
    <!-- Ratings -->
    <app-product-ratings style="float: left; width: 100%"></app-product-ratings>
    <div class="comment-header">
      <div class="name">
        <h5>Jessica Brown</h5>
      </div>
      <div class="date">
        <p>Mar 20, 2018</p>
      </div>
    </div>
    <div class="review-comment">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqe laudant tota rem ape riamipsa eaque.
      </p>
    </div>
  </div>
</div>
