<div class="social-sharing clearfix">
  <p class="sharing-title f-left">Share</p>
  <ul class="action-button f-right clearfix">
    <li>
      <a class="facebook" href="#" target="_blank" title="Facebook">
        <i class="zmdi zmdi-facebook"></i>
      </a>
    </li>
    <li>
      <a class="google-plus" href="#" target="_blank" title="Google +">
        <i class="zmdi zmdi-google-plus"></i>
      </a>
    </li>
    <li>
      <a class="twitter" href="#" target="_blank" title="Twitter">
        <i class="zmdi zmdi-twitter"></i>
      </a>
    </li>
    <li>
      <a class="pinterest" href="#" target="_blank" title="Pinterest">
        <i class="zmdi zmdi-pinterest"></i>
      </a>
    </li>
    <li>
      <a class="rss" href="#" target="_blank" title="RSS">
        <i class="zmdi zmdi-rss"></i>
      </a>
    </li>
  </ul>
</div>
