/*todo clear css*/
/* -------------------------------------
   Featured product section
------------------------------------- */
.product-item {
  margin-bottom: 30px;
  transition: all 0.3s ease 0s;
}
.product-img img {
  width: 100%;
}
.product-info {
  background: #f6f6f6 none repeat scroll 0 0;
  padding: 20px 5px;
  text-align: center;
}

.product-info p {
  margin: 0;
  font-size: 14px;
  height: 60px;
}

.product-title {
  color: #434343;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  height: 56px;
}
.pro-price {
  color: #666666;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
  z-index: 9;
}
.action-button {}
.action-button > li {
  display: inline-block;
  margin-right: 10px;
}
.action-button > li:last-child {
  margin-right: 0;
}
.action-button > li > a {
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #999999;
  display: block;
  font-size: 14px;
  height: 30px;
  text-align: center;
  width: 30px;
}
.action-button > li > a i {
  line-height: 28px;
}
.action-button > li:hover > a {
  background: #30881e;
  border-color: #30881e;
  color: #fff;
}
.product-item:hover {
  box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.15);
}

/*  responsive    */
/* Large Screen  */
@media (min-width: 1170px) and (max-width: 1400px) {

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {

}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {

}


/* small mobile :320px. */
@media (max-width: 767px) {

  h3 {
    font-size: 14px;
    line-height: 20px;
  }
  .product-title {
    font-size: 16px;
  }
}

/*************************
  General
*************************/
a {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
a:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover {
  color: #30881e;
  text-decoration: none;
}
a {
  outline: medium none;
  color: #666666;
}
h3,
h6 {
  color: #434343;
  margin-top: 0;
  font-style: normal;
  font-weight: 400;
}
h6 a {
  color: inherit
}
h3 {
  font-size: 20px;
}
h6 {
  font-size: 14px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
*::-moz-selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}

/*************************
  Input
*************************/
::-moz-placeholder {
  color: #444;
  font-size: 13px;
}

.zmdi {
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zmdi-favorite:before {
  content: '\f15f';
}

.zmdi-zoom-in:before {
  content: '\f1ee';
}

.zmdi-refresh:before {
  content: '\f1b9';
}

.zmdi-shopping-cart-plus:before {
  content: '\f1ca';
}
