  <div id="products-slider" class="owl-carousel owl-theme">
    <app-product-item-grid *ngFor="let product of _products" [product]="product">
    </app-product-item-grid>
      <!--<div class="product">
      <div class="item-image">
          <img src="assets/img/155-con.jpg" class="img-fluid" alt="">
        <div class="hover-overlay">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="#" class="expand" data-target="#cart-popup-1"><i class="icon-expand"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item-info">
        <div class="clearfix">
          <h5 class="float-left">GEL DÉRMICO DE ALOE VERA 250ml</h5>
        </div>
        <div>
          <span class="price">70.00$</span>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="item-image">
        <img src="assets/img/cesta-celebraciones.jpg" class="img-fluid" alt="">
        <div class="hover-overlay">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="#" class="expand" data-target="#cart-popup-1"><i class="icon-expand"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item-info">
        <div class="clearfix">
          <h5 class="float-left">GEL DÉRMICO DE ALOE VERA 250ml</h5>
        </div>
        <div>
          <span class="price">70.00$</span>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="item-image">
        <img src="assets/img/155-con.jpg" class="img-fluid" alt="">
        <div class="hover-overlay">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="#" class="expand" data-target="#cart-popup-1"><i class="icon-expand"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item-info">
        <div class="clearfix">
          <h5 class="float-left">GEL DÉRMICO DE ALOE VERA 250ml</h5>
        </div>
        <div>
          <span class="price">70.00$</span>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="item-image">
        <img src="assets/img/cesta-celebraciones.jpg" class="img-fluid" alt="">
        <div class="hover-overlay">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="#" class="expand" data-target="#cart-popup-1"><i class="icon-expand"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item-info">
        <div class="clearfix">
          <h5 class="float-left">GEL DÉRMICO DE ALOE VERA 250ml</h5>
        </div>
        <div>
          <span class="price">70.00$</span>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="item-image">
        <img src="assets/img/155-con.jpg" class="img-fluid" alt="">
        <div class="hover-overlay">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="#" class="expand" data-target="#cart-popup-1"><i class="icon-expand"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item-info">
        <div class="clearfix">
          <h5 class="float-left">GEL DÉRMICO DE ALOE VERA 250ml</h5>
        </div>
        <div>
          <span class="price">70.00$</span>
        </div>
      </div>
    </div>
    <div class="product">
      <div class="item-image">
        <img src="assets/img/cesta-celebraciones.jpg" class="img-fluid" alt="">
        <div class="hover-overlay">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="#" class="expand" data-target="#cart-popup-1"><i class="icon-expand"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="item-info">
        <div class="clearfix">
          <h5 class="float-left">GEL DÉRMICO DE ALOE VERA 250ml</h5>
        </div>
        <div>
          <span class="price">70.00$</span>
        </div>
      </div>
    </div>-->
  </div>
