button {
  font-family: "Muli", sans-serif;
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

a {
  transition: all .3s ease-in 0s;
  color: #000;
}

img.p-c.active  {
  border: 1px solid #28c3ab;
}

a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #5672f9;
}

button {
  cursor: pointer;
}

.mt-30 {
  margin-top: 30px;
}

.p-c {
  border: 1px solid #fff;
  padding: 0 5px;
}

.slick-slide {
  display: none;
  float: left;
  height: inherit;
  min-height: 1px;
  -webkit-tap-highlight-color: transparent;
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.mt-30 {
  margin-top: 30px;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-arrow-3 .slick-arrow {
  color: #999999;
  font-size: 20px;
  height: 35px;
  left: 0;
  line-height: 35px;
  margin-top: -17px;
  position: absolute;
  right: auto;
  top: 50%;
  transition: all 0.3s ease 0s;
  width: 35px;
  z-index: 2;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}

@font-face {
  font-family: 'Material-Design-Iconic-Font';
  src: url('/assets/fonts/Material-Design-Iconic-Font.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/*todo to styles.css*/

.zmdi {
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zmdi-long-arrow-right:before {
  content: '\f301';
}

.zmdi-long-arrow-left:before {
  content: '\f2ff';
}

/*=====================================
  10. Image zoom area
======================================*/
.imgs-zoom-area {
  width: 100%;
}

#gallery {
  padding: 0 50px;
}

#gallery .gallery-slider {
  overflow: hidden;
  height: 100px;
}

#gallery .slick-item {
  width: 100px;
  height: 100px;
}

#gallery .slick-item.last {
  width: 98px;
}

.p-c {
  border: 1px solid #fff;
  padding: 0 5px;
}
#gallery.slick-arrow-3 .arrow-next.slick-arrow {
  right: 25px;
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .imgs-zoom-area {
    margin-bottom: 30px;
  }
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  /* user-select: none; */
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}

.slick-slide
{
  display: none;
  float: left;

  height: inherit;
  min-height: 1px;
}
.slick-slide img
{
  display: block;
}
.slick-initialized .slick-slide
{
  display: block;
}

/* slick-arrow-3 */
.slick-arrow-3 .slick-arrow {
  color: #999999;
  font-size: 20px;
  height: 35px;
  left: 28px;
  line-height: 35px;
  margin-top: -17px;
  position: absolute;
  right: auto;
  top: 50%;
  transition: all 0.3s ease 0s;
  width: 35px;
  z-index: 2;
}
.slick-arrow-3 .arrow-next.slick-arrow {
  left: auto;
  right: 0px;
}
.slick-arrow-3:hover .slick-arrow {}
.slick-arrow-3 .arrow-prev.slick-arrow:hover, .slick-arrow-3 .arrow-next.slick-arrow:hover {
  color: #28c3ab;
}


/*another slider css*/
.title {
  margin-top: 60px;
}

.toggle-box {
  width: 49%;
  display: inline-block;
}

.toggle-box mat-slide-toggle {
  width: 100%;
  margin-bottom: 15px;
}

.footer {
  font-weight: 300;
  font-size: 15px;
  background-color: rgb(33, 33, 33);
}

.footer a {
  background-color: transparent;
  text-decoration: none;
  cursor: auto;
}

.docs-api-properties-table {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  margin: 0 0 32px;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.docs-api-properties-table p {
  margin: 0;
}

.docs-api-properties-table th {
  max-width: 100px;
  padding: 13px 32px;
  text-align: left;
}

.docs-api-properties-table td {
  font-weight: 400;
  padding: 8px 30px;
  color: rgba(0,0,0,.54);
  border: 1px solid rgba(0,0,0,.03);
}


@media only screen and  (max-width: 960px) {
  .toggle-box {
    width: 100%;
    display: block;
  }

  .demo-content {
    margin: 16px;
  }
}

.content {
  margin: 50px 70px;
}


/* Large Screen  */
@media (min-width: 1170px) and (max-width: 1400px) {

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {

}

  /* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {}

/* small mobile :320px. */
@media (max-width: 767px) {
  #gallery .gallery-slider {
    overflow: hidden;
    height: 100px;
  }

  #gallery .slick-item {
    width: 100px;
    height: 100px;
  }

  #gallery .slick-item.last {
    width: 98px;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px){}

@media  (max-width: 480px) {

}
