<div class="imgs-zoom-area">
  <img style="width: 100%;" src="assets/img/product/6.jpg" data-zoom-image="assets/img/product/6.jpg"
       alt="">
  <div class="row">
    <div class="col-sm-12">
      <div id="gallery" class="carousel-btn slick-arrow-3 mt-30 slick-initialized slick-slider">
        <button type="button" class="arrow-prev slick-arrow" style=""><i class="zmdi zmdi-long-arrow-left"></i></button>
        <div aria-live="polite" class="slick-list draggable">
          <div class="slick-track" style="opacity: 1; width: 900px; transform: translate3d(-70px, 0px, 0px);"
               role="listbox">
            <div class="p-c slick-slide slick-active" style="width: 75px;" tabindex="0">
              <a class="active" href="#" tabindex="0">
                <img src="assets/img/product/2.jpg" alt="">
              </a>
            </div>
            <div class="p-c slick-slide" style="width: 75px;" tabindex="0">
              <a class="active" href="#"  tabindex="0">
                <img src="assets/img/product/3.jpg" alt="">
              </a>
            </div>
            <div class="p-c slick-slide" style="width: 75px;" tabindex="-1">
              <a href="#" tabindex="0">
                <img src="assets/img/product/4.jpg" alt="">
              </a>
            </div>
            <div class="p-c slick-slide " style="width: 75px;">
              <a href="#">
                <img class="active" src="assets/img/product/5.jpg" alt="">
              </a>
            </div>
            <div class="p-c slick-slide " style="width: 75px;" tabindex="0">
              <a href="#" tabindex="-1">
                <img class="active" src="assets/img/product/6.jpg" alt="">
              </a>
            </div>
            <div class="p-c slick-slide " style="width: 75px;" tabindex="0">
              <a href="#" tabindex="-1">
                <img class="active" src="assets/img/product/7.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
        <button type="button" class="arrow-next slick-arrow" style=""><i class="zmdi zmdi-long-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
