button {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

img.p-c {
  transition: all .3s ease-in 0s;
  border: 5px solid #fff;
}

img.p-c.active {
  border: 5px solid #30881e;
}

button {
  cursor: pointer;
}

.slick-arrow-3 .slick-arrow {
  outline: none;
  color: #999999;
  font-size: 20px;
  height: 35px;
  left: 0;
  line-height: 35px;
  margin-top: -17px;
  position: absolute;
  right: auto;
  top: 50%;
  transition: all 0.3s ease 0s;
  width: 35px;
  z-index: 2;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}

.zmdi {
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zmdi-long-arrow-right:before {
  content: '\f301';
}

.zmdi-long-arrow-left:before {
  content: '\f2ff';
}

/*=====================================
  10. Image zoom area
======================================*/
.imgs-zoom-area {
  width: 100%;
}

#gallery .slick-item {
  width: 100px;
  height: 100px;
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .imgs-zoom-area {
    margin-bottom: 30px;
  }
}

/* slick-arrow-3 */
.slick-arrow-3 .slick-arrow {
  color: #999999;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  margin-top: -17px;
  position: absolute;
  right: auto;
  top: 50%;
  transition: all 0.3s ease 0s;
  width: 35px;
  z-index: 2;
}
.slick-arrow-3 .arrow-next.slick-arrow {
  left: auto;
  right: 0;
}

.slick-arrow-3 .arrow-prev.slick-arrow:hover, .slick-arrow-3 .arrow-next.slick-arrow:hover {
  color: #30881e;
}


/*another slider css*/

.gallery-slider {
  margin: auto;
  width: 300px;
  height: 100px;
}

.main-image {
  width: 100%;
  margin-bottom: 30px;
}

/* Large Screen  */
@media (min-width: 1170px) and (max-width: 1400px) {

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {

}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .gallery-slider {
    width: 200px;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .main-image {
    display: none;
  }

  img.p-c {
    border: none;
  }

  img.p-c.active {
    border: none;
  }

  .gallery-slider {
    width: 510px;
    height: 510px;
  }

  #gallery .slick-item {
    width: 510px;
    height: 510px;
  }
}

/* fix for slider*/
@media (max-width: 543px) {
  .gallery-slider {
    width: 445px;
    height: 445px;
  }

  #gallery .slick-item {
    width: 445px;
    height: 445px;
  }

  .slick-arrow-3 .slick-arrow {
    display: none;
  }

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px){}

@media  (max-width: 480px) {
  .gallery-slider {
    width: 310px;
    height: 310px;
  }

  #gallery .slick-item {
    width: 310px;
    height: 310px;
  }
}
