<div class="product-ratings" >
  <ul class="list-inline">
    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
    <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
    <li class="list-inline-item"><i class="fa fa-star"></i></li>
  </ul>
  <span style="float: right; display: none;"><a>5.0</a> (2) <a style="color:blue;">review</a></span>
</div>
