<div class="shop-list product-item">
  <div class="product-img">
    <a routerLink="/products/{{product.id}}">
      <img [src]="product.mainImage" alt="">
    </a>
  </div>
  <div class="product-info">
    <div class="clearfix">
      <h6 class="product-title f-left">
        <a routerLink="/products/{{product.id}}">{{product.name}}</a>
      </h6>
      <!--<app-product-ratings style="float: right;"></app-product-ratings>-->
    </div>
    <h6 class="brand-name mb-30">{{product.brand}}</h6>
    <!-- <h3 class="pro-price">{{product.price}}</h3>-->
    <p style="margin-top: 10%;">{{product.briefDescription}}</p>
    <!--<app-product-actions></app-product-actions>-->
  </div>
</div>

