h3 {
  font-weight: 600;
  color: #333;
}

h3 {
  font-size: 20px;
}

.tab-title {
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.product-review-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

/* small mobile :320px. */
@media (max-width: 767px) {

  .product-review-wrapper {
    padding: 0;
  }

  h3 {
    font-size: 14px;
    line-height: 20px;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  .product-review-wrapper {
    padding: 0;
  }

}
