/*************************
  General
*************************/
a {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
a:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover {
  color: #30881e;
  text-decoration: none;
}
a {
  outline: medium none;
  color: #666666;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
*::-moz-selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #4fc1f0;
  color: #fff;
  text-shadow: none;
}

/*************************
  Input
*************************/
::-moz-placeholder {
  color: #444;
  font-size: 13px;
}
/* -------------------------------------
   Product actions
------------------------------------- */
.action-button {}
.action-button > li {
  display: inline-block;
  margin-right: 10px;
}
.action-button > li:last-child {
  margin-right: 0;
}
.action-button > li > a {
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 50%;
  color: #999999;
  display: block;
  font-size: 14px;
  height: 30px;
  text-align: center;
  width: 30px;
}
.action-button > li > a i {
  line-height: 28px;
}
.action-button > li:hover > a {
  background: #30881e;
  border-color: #30881e;
  color: #fff;
}

.zmdi {
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zmdi-favorite:before {
  content: '\f15f';
}

.zmdi-zoom-in:before {
  content: '\f1ee';
}

.zmdi-refresh:before {
  content: '\f1b9';
}

.zmdi-shopping-cart-plus:before {
  content: '\f1ca';
}
