ul.pagination li {
  margin-right: 10px;
}

ul.pagination li a {
  font-weight: 600;
  border-radius: 3px !important;
  font-size: 16px;
  padding: 0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-color: transparent;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  color: #666;
}

ul.pagination li a:hover {
  background-color: #5672f9 !important;
  color: #fff !important;
  border-color: transparent !important;
}

ul.pagination .active a {
  background-color: #5672f9 !important;
  color: #fff !important;
  border-color: transparent !important;
}
