<section class="section-sm">
  <div class="container">
    <div class="row">
      <app-products-breadcrumb>
        <li ><a routerLink="/products">Products</a></li>
        <li *ngIf="product">{{getBreadcrumbName()}}</li>
      </app-products-breadcrumb>
    </div>
    <div *ngIf="product" class="product-details">
      <div class="row product-description">
        <app-product-image-slider #imageSlider [imageUrls]="imageUrls" class="col-md-5 col-sm-12">
        </app-product-image-slider>

        <app-product-info-block [product]="product" class="col-md-7 col-sm-12">
        </app-product-info-block>
      </div>
      <!-- <div class="row content">
        <app-product-review></app-product-review>
      </div> -->
    </div>
  </div>
</section>
