<section class="section" style="background: #fff;"> <!--todo add bg-light when customized to #fff -->
  <!-- Container Start -->
  <div class="container">

      <!-- Left sidebar -->
        <div class="product-details">
          <div class="row">
          <div class="product-meta">
            <ul class="list-inline">
              <li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="">Andrew</a></li>
              <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Category<a href="">Electronics</a></li>
              <li class="list-inline-item"><i class="fa fa-location-arrow"></i> Location<a href="">Dhaka Bangladesh</a></li>
            </ul>
          </div>
          </div>
          <div class="row product-slider">
            <!-- imgs-zoom-area start -->
            <div class="col-md-5 col-xs-12">
              <div class="imgs-zoom-area">
                <img id="zoom_03" style="width: 100%;" src="assets/img/product/6.jpg" data-zoom-image="assets/img/product/6.jpg" alt="">
                <div class="row">
                  <div class="col-xs-12">
                    <div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30 slick-initialized slick-slider"><button type="button" class="arrow-prev slick-arrow" style=""><i class="zmdi zmdi-long-arrow-left"></i></button>
                      <div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 900px; transform: translate3d(-225px, 0px, 0px);" role="listbox"><div class="p-c slick-slide slick-cloned" style="width: 75px;" data-slick-index="-3" tabindex="-1">
                        <a href="#" data-image="img/product/5.jpg" data-zoom-image="img/product/5.jpg" tabindex="-1">
                          <img class="zoom_03" src="assets/img/product/5.jpg" alt="">
                        </a>
                      </div><div class="p-c slick-slide slick-cloned" style="width: 75px;" data-slick-index="-2" tabindex="-1">
                        <a href="#" data-image="assets/img/product/6.jpg" data-zoom-image="assets/img/product/6.jpg" tabindex="-1">
                          <img class="zoom_03" src="assets/img/product/6.jpg" alt="">
                        </a>
                      </div><div class="p-c slick-slide slick-cloned" style="width: 75px;" data-slick-index="-1" tabindex="-1">
                        <a href="#" data-image="assets/img/product/7.jpg" data-zoom-image="assets/img/product/7.jpg" tabindex="-1">
                          <img class="zoom_03" src="assets/img/product/7.jpg" alt="">
                        </a>
                      </div><div class="p-c slick-slide slick-current slick-active" style="width: 75px;" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10">
                        <a href="#" data-image="assets/img/product/2.jpg" data-zoom-image="assets/img/product/2.jpg" tabindex="0">
                          <img class="zoom_03" src="assets/img/product/2.jpg" alt="">
                        </a>
                      </div><div class="p-c slick-slide slick-active" style="width: 75px;" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide11">
                        <a href="#" data-image="assets/img/product/3.jpg" data-zoom-image="assets/img/product/3.jpg" tabindex="0">
                          <img class="zoom_03" src="assets/img/product/3.jpg" alt="">
                        </a>
                      </div><div class="p-c slick-slide slick-active" style="width: 75px;" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide12">
                        <a href="#" data-image="assets/img/product/4.jpg" data-zoom-image="assets/img/product/4.jpg" tabindex="0">
                          <img class="zoom_03" src="assets/img/product/4.jpg" alt="">
                        </a>
                      </div><div class="p-c slick-slide" style="width: 75px;" data-slick-index="3" tabindex="-1" role="option" aria-describedby="slick-slide13">
                        <a href="#" data-image="assets/img/product/5.jpg" data-zoom-image="assets/img/product/5.jpg" tabindex="-1">
                          <img class="zoom_03" src="assets/img/product/5.jpg" alt="">
                        </a>
                      </div><div class="p-c slick-slide" style="width: 75px;" data-slick-index="4"  tabindex="-1" role="option" aria-describedby="slick-slide14">
                        <a href="#" data-image="assets/img/product/6.jpg" data-zoom-image="assets/img/product/6.jpg" tabindex="-1">
                          <img class="zoom_03" src="assets/img/product/6.jpg" alt="">
                        </a>
                      </div><div class="p-c slick-slide" style="width: 75px;" data-slick-index="5"  tabindex="-1" role="option" aria-describedby="slick-slide15">
                        <a href="#" data-image="assets/img/product/7.jpg" data-zoom-image="assets/img/product/7.jpg" tabindex="-1">
                          <img class="zoom_03" src="assets/img/product/7.jpg" alt="">
                        </a>
                      </div><div class="p-c slick-slide slick-cloned" style="width: 75px;" data-slick-index="6" tabindex="-1">
                        <a href="#" data-image="assets/img/product/2.jpg" data-zoom-image="assets/img/product/2.jpg" tabindex="-1">
                          <img class="zoom_03" src="assets/img/product/2.jpg" alt="">
                        </a>
                      </div><div class="p-c slick-slide slick-cloned" style="width: 75px;" data-slick-index="7"  tabindex="-1">
                        <a href="#" data-image="assets/img/product/3.jpg" data-zoom-image="assets/img/product/3.jpg" tabindex="-1">
                          <img class="zoom_03" src="assets/img/product/3.jpg" alt="">
                        </a>
                      </div><div class="p-c slick-slide slick-cloned" style="width: 75px;" data-slick-index="8" tabindex="-1">
                        <a href="#" data-image="assets/img/product/4.jpg" data-zoom-image="assets/img/product/4.jpg" tabindex="-1">
                          <img class="zoom_03" src="assets/img/product/4.jpg" alt="">
                        </a>
                      </div></div></div><button type="button" class="arrow-next slick-arrow" style=""><i class="zmdi zmdi-long-arrow-right"></i></button></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- imgs-zoom-area end -->
            <!-- single-product-info start -->
            <div class="col-md-7 col-xs-12">
              <div class="single-product-info">
                <!--todo to component -->
                <div class="clearfix">
                  <div class="single-product-header">
                    <h3 class="product-name text-black-1">Dummy Product Name</h3>
                    <h6 class="brand-name-2">brand name</h6>
                  </div>
                  <div class="product-ratings" >
                    <ul class="list-inline">
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                      <li class="list-inline-item"><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
                <!--  hr -->
                <hr>
                <!-- single-product-tab -->
                <div class="single-product-tab">
                  <ul class="reviews-tab mb-20">
                    <li class="active"><a href="#details" data-toggle="tab" aria-expanded="false">details</a></li>
                    <li class=""><a href="#active-ingredients" data-toggle="tab" aria-expanded="false">active ingredients</a></li>
                    <li class=""><a href="#properties" data-toggle="tab" aria-expanded="false">properties</a></li>
                    <li class=""><a href="#directions" data-toggle="tab" aria-expanded="false">directions</a></li>
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="details">
                      <p>There are many variations of passages of Lorem Ipsum available, but the majo Rity have be suffered alteration in some form, by injected humou or randomis Rity have be suffered alteration in some form, by injected humou or randomis words which donot look even slightly believable. If you are going to use a passage Lorem Ipsum.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="active-ingredients">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, neque fugit inventore quo dignissimos est iure natus quis nam illo officiis,  deleniti consectetur non ,aspernatur.</p>
                      <p>rerum blanditiis dolore dignissimos expedita consequatur deleniti consectetur non exercitationem.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="properties">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, neque fugit inventore quo dignissimos est iure natus quis nam illo officiis,  deleniti consectetur non ,aspernatur.</p>
                      <p>rerum blanditiis dolore dignissimos expedita consequatur deleniti consectetur non exercitationem.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="directions">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, neque fugit inventore quo dignissimos est iure natus quis nam illo officiis,  deleniti consectetur non ,aspernatur.</p>
                      <p>rerum blanditiis dolore dignissimos expedita consequatur deleniti consectetur non exercitationem.</p>
                    </div>
                  </div>
                </div>
                <!--  hr -->
                <hr>
                <!-- single-pro-color-rating -->
                <div class="single-pro-color clearfix">
                  <div class="sin-pro-color f-left">
                    <p class="color-title f-left">Color</p>
                    <div class="widget-color f-left">
                      <ul>
                        <li class="color-1"><a href="#"></a></li>
                        <li class="color-2"><a href="#"></a></li>
                        <li class="color-3"><a href="#"></a></li>
                        <li class="color-4"><a href="#"></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="pro-rating sin-pro-rating f-right">
                    <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
                    <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
                    <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
                    <a href="#" tabindex="0"><i class="zmdi zmdi-star-half"></i></a>
                    <a href="#" tabindex="0"><i class="zmdi zmdi-star-outline"></i></a>
                    <span class="text-black-5">( 27 Rating )</span>
                  </div>
                </div>
                <!-- hr -->
                <hr>
                <!-- plus-minus-pro-action -->
                <div class="plus-minus-pro-action clearfix">
                  <div class="sin-plus-minus f-left clearfix">
                    <p class="color-title f-left">Qty</p>
                    <div class="cart-plus-minus f-left"><div class="dec qtybutton">-</div>
                      <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                      <div class="inc qtybutton">+</div></div>
                  </div>
                  <div class="sin-pro-action f-right">
                    <ul class="action-button">
                      <li>
                        <a href="#" title="Wishlist" tabindex="0"><i class="zmdi zmdi-favorite"></i></a>
                      </li>
                      <li>
                        <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview" tabindex="0"><i class="zmdi zmdi-zoom-in"></i></a>
                      </li>
                      <li>
                        <a href="#" title="Compare" tabindex="0"><i class="zmdi zmdi-refresh"></i></a>
                      </li>
                      <li>
                        <a href="#" title="Add to cart" tabindex="0"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- plus-minus-pro-action end -->
                <!-- hr -->
                <hr>
                <!-- single-product-price -->
                <h3 class="pro-price">Price: $ 869.00</h3>
                <!--  hr -->
                <hr>
                <div>
                  <a href="#" class="button extra-small button-black" tabindex="-1">
                    <span class="text-uppercase">Buy now</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- single-product-info end -->
          </div>
          <div class="row content">
            <div class="product-review-wrapper">
                <h3 class="tab-title">Product Review</h3>
                <div class="product-review">
                  <div class="media">
                    <!-- Avater -->
                    <img src="assets/images/user/user-thumb.jpg" alt="avater">
                    <div class="media-body">
                      <!-- Ratings -->
                      <div class="ratings">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                          </li>
                        </ul>
                      </div>
                      <div class="name">
                        <h5>Jessica Brown</h5>
                      </div>
                      <div class="date">
                        <p>Mar 20, 2018</p>
                      </div>
                      <div class="review-comment">
                        <p>
                          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremqe laudant tota rem ape riamipsa eaque.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="review-submission">
                    <h3 class="tab-title">Submit your review</h3>
                    <!-- Rate -->
                    <div class="rate">
                      <div class="starrr"></div>
                    </div>
                    <div class="review-submit">
                      <form action="#" class="row">
                        <div class="col-lg-6">
                          <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-lg-6">
                          <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-12">
                          <textarea type="review" name="review" id="review" rows="10" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-main">Sumbit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

  <!-- Container End -->
</section>



