.section-sm {
  padding: 110px 0 70px;
}

.product-description {
  padding: 40px 0;
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .section-sm {
    padding: 60px 0;
  }
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
