@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
/*=== MEDIA QUERY ===*/
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");

/*todo clean up  unused css selectors in files over whole project*/

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('./assets/fonts/glyphicons-halflings-regular.eot');
  src: url('./assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('./assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('./assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.bg-light {
  background: #fff;
}

.bg-gray {
  background: #F5F5F5;
}
